*{
    margin: 0;
    padding: 0;  
}

.navbar{
    margin-top: 0px; /*menyesuaikan margin atas*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*tipe font*/
    width: 100%; /*lebar*/
    font-size: 15px; /*ukuran tulisan*/ 
}

.navbar ul{
    background: #234363; /*agar hanya sekitaran yg kena*/
    list-style: none;
    display: inline-table;
    width: 100%;
}

.navbar ul li{
    float: right;
}

.navbar ul li:hover{
    background: #3dbf8d;
    
}

.navbar ul li:hover a{
    color: snow;
}

.navbar ul li a{
    display: block;
    padding: 13px;
    color: white;
    text-decoration: none; /*hapus underline nav*/
}

body{
    background-size: 100%;
    font-family: 'Segoe UI';
    background-color: silver;
}
#kotakakun{
    background-color: white;
    height:100px;
    width: 350px;
    margin: 10px 10px;
    float: left;
}
#kotaktengah{
    background-color: white;
    height:560px;
    width: 975px;
    margin: 10px 0px;
    float: left;
    text-align: left;
    border-block: 20%;
}
#kelas{
    position: absolute;
    background-color: white;
    height:450px;
    width: 350px;
    margin: 120px 10px;
    
}
#kotakakun{
    background-color: white;
    height:100px;
    width: 350px;
    margin: 10px 10px;
}
.profil{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 20px;
    top: 70px;
}
img{
    width: 60px;
    height: 60px;
}
judul{
    position: relative;
    bottom: 40px;
}

.box{
    height:auto;
    width: auto;
    background-color: #78BDC4;
    text-align: center;
    color: white;
    font-size: 16pt;
}
.isi{
    padding: 10px 10px 0 20px;
    float: left;
}
judul{
    float: right;
    position: relative;
    right: 626px;
    top: 10px;
}
nama{
    position: relative;
    top: 30px;
    left: 110px;
}
judul2{
    float: right;
    position: absolute;
    right: 760px;
    top: 175px;
}
.mulai input{
    font-size: 13pt;
    position: relative;
    color: white;
    background-color: #78BDC4;
    border-radius: 10px;
    width: 165px;
    height: 35px;
    top: 300px;
    left: 100px;
}
.button{
    height: 10px;
    width: 10px;
}
abu{
    color:#9e9a9aff;
}
.logo{
    height: 39px;
    width: 160px;
    padding: 3px 0 3px 10px;
}

.mulai input:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.isi a{
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float: right;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #3dbf8d}
  
.navkun:hover .dropdown-content {
    display: block;
    position: absolute;
    right: 0%;
}
