*{
    margin: 0;
    padding: 0;  
}

.navbar{
    margin-top: 0px; /*menyesuaikan margin atas*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*tipe font*/
    width: 100%; /*lebar*/
    font-size: 15px; /*ukuran tulisan*/ 
}

.navbar ul{
    background: #234363; /*agar hanya sekitaran yg kena*/
    list-style: none;
    display: inline-table;
    width: 100%;
}

.navbar ul li{
	float: right;
}

.navbar ul li:hover{
    background: #3dbf8d;
    
}

.navbar ul li:hover a{
    color: snow;
}

.navbar ul li a{
    display: block;
    padding: 13px;
    color: white;
    text-decoration: none; /*hapus underline nav*/
}

.logo{
    height: 39px;
    width: 160px;
    padding: 3px 0 3px 10px;
}
abu{
    color:#9e9a9aff;
}

body{
	background-size: 100%;
	font-family: 'Segoe UI';
	background-color: silver;
}
.TulisanLogin{
    font-size: 20pt;
    color: white;
}

.sambut_masuk{
	float: left;
	color: white;
	object-position: relative;
	font-size: 35px;
	padding: 130px;
}

.kotak_login {
    float: right;
    height: 400px;
	width: 235px;
	margin: 10px;
    background: #78BDC4;
    border-radius: 5%;
    padding: 40px 40px;
	margin-right: 1cm;
}

.isian_login input{
	width: 220px;
	height: 30px;
	border-radius: 8px;
	border-top: white;
	border-left: white;
	padding: 5px;
}

.Masuk input{
	background-color: #234363;
	color: white;
	font-size: 12pt;
	width: 100%;
	border: none;
	border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.Masuk input:hover{
	background-color: #3dbf8d;
	border: 2px solid whitesmoke;
	color: whitesmoke;
}

.body{
	width: 100%;
	height: 100%;
}

.akun{
	margin: 0;
	margin-top: 0;
	padding: 0;
	background-color: #78BDC4;
	color: white;
	height: 35px;
}

.form_akun{
	float: right;
	background-color: white;
	padding: 35px;
	padding-top: 5px;
	width: 970px;
	height: 490px;
}

.form_akun input{
	border-radius: 5px;
	width: 200px;
	height: 20px;
	border-color: rgb(82, 163, 190);
	border-bottom: rgb(82, 163, 190);
	border-style: solid;
}

.man{
	background-color: white;
    height:530px;
    width: 340px;
	float: left;
	position: absolute;
}

.man img{
	height: 150px;
	width: 150px;
	padding: 15px;
}

.simpanakun input{
	float: right;
	color: white; 
	background-color: rgb(82, 163, 190);
	border-radius: 10px; 
	width: 100px; height: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float: right;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #3dbf8d;
}
  
.navkun:hover .dropdown-content {
    display: block;
    position: absolute;
    right: 0%;
}
  
#kotakakun{
    background-color: white;
    height:100px;
    width: 350px;
    margin: 10px 10px;
    float: left;
}
#kotaktengah {
    background-color: white;
    height: 560px;
    width: 610px;
    margin: 10px 0px;
    float: left;
    text-align: left;
}
#kelas{
    position: absolute;
    background-color: white;
    height:450px;
    width: 350px;
    margin: 120px 10px;
    
}
#kotakkanan {
    position: absolute;
    background-color: white;
    height: 560px;
    width: 350px;
    margin: 57px 0px;
    float: right;
    top: 0;
    right: 10px;
}
#kotakmateri {
    background-color: white;
    height: 560px;
    width: 969px;
    margin: 10px 0px;
    float: left;
	text-align: left;
}

.profil{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 20px;
    top: 70px;
}
img{
    width: 60px;
    height: 60px;
}
judul{
    position: relative;
    bottom: 40px;
}

.box{
    height:auto;
    width: auto;
    background-color: #78BDC4;
    text-align: center;
    color: white;
    font-size: 16pt;
}
.isi{
    padding: 10px 10px 0 20px;
    float: left;
}
judul{
    float: right;
    position: relative;
    right: 626px;
    top: 10px;
}
nama{
    position: relative;
    top: 30px;
    left: 110px;
}
judul2{
    float: right;
    position: absolute;
    right: 760px;
    top: 175px;
}
.mulai input{
    font-size: 13pt;
    position: relative;
    color: white;
    background-color: #78BDC4;
    border-radius: 10px;
    width: 165px;
    height: 35px;
    top: 300px;
    left: 100px;
}
.button{
    height: 10px;
    width: 10px;
}
abu{
    color:#9e9a9aff;
}

.mulai input:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.isi a{
    text-decoration: none;
}

#kotakdetail{
    background-color: white;
    height:560px;
    width: 350px;
    margin: 10px 10px;
    float: left;
}
#kotaksoal{
    background-color: white;
    height:560px;
    width: 979px;
    margin: 10px 0px;
    float: left;
    text-align: left;
    /* border-block: 20%; */
}
.box{
    height:auto;
    width: auto;
    background-color: #78BDC4;
    text-align: center;
    color: white;
    font-size: 16pt;
}
.sebelumnya input{
    float: left;
    font-size: 13pt;
    position: relative;
    color: white;
    background-color: #78BDC4;
    border-radius: 10px;
    width: 165px;
    height: 35px;
    top: 40px;
}
.selanjutnya input {
    float: right;
    font-size: 13pt;
    position: relative;
    color: white;
    background-color: #78BDC4;
    border-radius: 10px;
    width: 165px;
    height: 35px;
    top: 40px;
}
.selesai input{
    font-size: 13pt;
    position: relative;
    color: white;
    background-color: #3dbf8d;
    border-radius: 10px;
    width: 165px;
    height: 35px;
    top: 40px;
    left: 95px;
}
.detail{
    padding: 20px;
    font-size: 15pt;
}
.isi{
    padding: 20px;
}
isi label {
    font-size: 17pt;
}
.kotak{
	width: 50px;
	height: 40px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
.kotakb {
    width: 50px;
    height: 40px;
    background-color: green;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
	margin-top: 10px;
}
.kotaks {
    width: 50px;
    height: 40px;
    background-color: red;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
.selesai input:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.sebelumnya input:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.selanjutnya input:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.kotak:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    
}
.kotakb:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.kotaks:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}
#kotaktentang{
    background-color: white;
    height:560px;
    width: 1345px;
    margin: 10px 10px;
    float: left;
    text-align: left;
    border-block: 20%;
}
.panduan{
    padding: 20px;
}
.isitentang{
    text-align: center;
    padding: 20px;
}


/* Responsiv Login */
@media screen and (max-width: 600px){
	body{
		background-repeat: no-repeat;
		background-size: cover;
	}
    
    .sambut_masuk p{
        font-size: 5px;
    }

	.logo{
		float: left;
	}
	
	.navbar{
		height: auto;
		float: none;
	}

	.sambut_masuk{
		display: none;
	}

	.kotak_login{
		text-align: center;
	}
}
