*{
    margin: 0;
    padding: 0;  
}

.navbar{
    margin-top: 0px; /*menyesuaikan margin atas*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*tipe font*/
    width: 100%; /*lebar*/
    font-size: 15px; /*ukuran tulisan*/ 
}

.navbar ul{
    background: #234363; /*agar hanya sekitaran yg kena*/
    list-style: none;
    display: inline-table;
    width: 100%;
    padding: 0 5px;
}

.navbar ul li{
    float: right;
}

.navbar ul li:hover{
    background: #3dbf8d;
    
}

.navbar ul li:hover a{
    color: snow;
}

.navbar ul li a{
    display: block;
    padding: 13px;
    color: white;
    text-decoration: none; /*hapus underline nav*/
}

body{
	background-image: url(Maudylatar.jpg);
	background-size: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/*	background-color: rgba(255,255,255,0.3);*/
}

.smbt_masuk{
	float: left;
	color: white;
	object-position: relative;
	font-size: 40px;
	padding: 130px;
}

.Kotak_Login{
	float: right;
	height: 400px;
	width: 250px;
	background: lightblue;
	border-radius: 5%;
	margin: 10px ;
	padding: 40px 40px;
}

.isian_login input{
	width: 100%;
	padding: 10px;
	font-size: 11pt;
    border-radius: 10px;

}

.Masuk input{
	background-color: #234363;
	color: white;
	font-size: 12pt;
	width: 100%;
	border: none;
	border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.akun{
	margin: 0;
	padding: 0;
	background-color: lightblue;
	color: white;
	height: 35px;
}

.form_akun{
	float: right;
	background-color: whitesmoke;
	padding: 35px;
	padding-top: 5px;
	width: 970px;
	height: 490px;
}

.form_akun input{
	border-radius: 10px;
	border-color: whitesmoke;
	width: 140px;
	height: 20px;
}

.man{
	background-color: whitesmoke;
    height:530px;
    width: 340px;
	float: left;
	position: absolute;
}

.man img{
	height: 150px;
	width: 150px;
	padding: 15px;
}

.simpanakun input{
	float: right;
	color: white; 
	background-color: rgb(212, 55, 55); 
	border-radius: 10px; 
	width: 100px; height: 30px;
}

.batalakun input{
	float: right;
	color: white; 
	background-color: rgb(82, 163, 190);
	border-radius: 10px; 
	width: 100px; height: 30px;
}