*{
    margin: 0;
    padding: 0;  
}

.navbar{
    margin-top: 0px; /*menyesuaikan margin atas*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*tipe font*/
    width: 100%; /*lebar*/
    font-size: 15px; /*ukuran tulisan*/ 
}

.navbar ul{
    background: #234363; /*agar hanya sekitaran yg kena*/
    list-style: none;
    display: inline-table;
    width: 100%;
}

.navbar ul li{
    float: right;
}

.navbar ul li:hover{
    background: #3dbf8d;
    
}

.navbar ul li:hover a{
    color: snow;
}

.navbar ul li a{
    display: block;
    padding: 13px;
    color: white;
    text-decoration: none; /*hapus underline nav*/
}
body{
    background-size: 100%;
    font-family: 'Segoe UI';
	background-color: rgba(255,255,255,0.3);
}
#kotaktengah{
    background-color: white;
    height:560px;
    width: 1345px;
    margin: 10px 10px;
    float: left;
    text-align: left;
    border-block: 20%;
}
.box{
    height:40px;
    width: auto;
    background-color: #78BDC4;
    text-align: center;
    color: white;
    font-size: 16pt;
}
.isi{
    text-align: center;
    padding: 20px;
}
p{
    padding: 20px;
}
.logo{
    height: 39px;
    width: 160px;
    padding: 3px 0 3px 10px;
}
input{
	font-size: 12pt;
	border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
form {
    color: #234363;
    justify-content: center;
    align-items: center;
}
#border{
    
    width: 40%;
    height: 0px;;
    border-style: inset;
}
.pilihan{
    width: 20px;
    height: 20px;
}
.tombol{
    background-color: #234363;
	color: white;
	font-size: 12pt;
	width: 10%;
	border: none;
	border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float: right;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #3dbf8d}
  
.navkun:hover .dropdown-content {
    display: block;
    position: absolute;
    right: 0%;
}
  