*{
    margin: 0;
    padding: 0;  
}

.navbar{
    margin-top: 0px; /*menyesuaikan margin atas*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*tipe font*/
    width: 100%; /*lebar*/
    font-size: 15px; /*ukuran tulisan*/ 
}

.navbar ul{
    background: #234363; /*agar hanya sekitaran yg kena*/
    list-style: none;
    display: inline-table;
    width: 100%;
}

.navbar ul li{
    float: right;
}

.navbar ul li:hover{
    background: #3dbf8d;
    
}

.navbar ul li:hover a{
    color: snow;
}

.navbar ul li a{
    display: block;
    padding: 13px;
    color: white;
    text-decoration: none; /*hapus underline nav*/
}
body{
    background-size: 100%;
    font-family: 'Segoe UI';
	background-color: rgba(255,255,255,0.3);
}
#kotakakun{
    background-color: white;
    height:560px;
    width: 350px;
    margin: 10px 10px;
    float: left;
}
#kotaktengah{
    background-color: white;
    height:560px;
    width: 979px;
    margin: 10px 0px;
    float: left;
    text-align: left;
    border-block: 20%;
}
.box{
    height:auto;
    width: auto;
    background-color: #78BDC4;
    text-align: center;
    color: white;
    font-size: 16pt;
}
.sebelumnya input{
    float: left;
    font-size: 13pt;
    position: relative;
    color: white;
    background-color: #78BDC4;
    border-radius: 10px;
    width: 165px;
    height: 35px;
    top: 40px;
}
.selanjutnya input{
    float: right;
    font-size: 13pt;
    position: relative;
    color: white;
    background-color: #78BDC4;
    border-radius: 10px;
    width: 165px;
    height: 35px;
    top: 40px;
}
.selesai input{
    font-size: 13pt;
    position: relative;
    color: white;
    background-color: #3dbf8d;
    border-radius: 10px;
    width: 165px;
    height: 35px;
    top: 40px;
    left: 95px;
}
.detail{
    padding: 20px;
    font-size: 15pt;
}
.isi{
    padding: 20px;
}
isi label {
    font-size: 17pt;
}
img{
    width: 20px;
    height: 20px;
}
.kotak{
	width: 50px;
	height: 40px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
.logo{
    height: 39px;
    width: 160px;
    padding: 3px 0 3px 10px;
}

.selesai input:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.sebelumnya input:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.selanjutnya input:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.kotak:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    
}

.kotak{
	width: 50px;
	height: 40px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
.kotakb{
	width: 50px;
    height: 40px;
    background-color: green;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
.kotaks{
	width: 50px;
    height: 40px;
    background-color: red;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
.logo{
    height: 39px;
    width: 160px;
    padding: 3px 0 3px 10px;
}

.kotakb:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.kotaks:hover{
    background-color: #234363;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float: right;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #3dbf8d}
  
.navkun:hover .dropdown-content {
    display: block;
    position: absolute;
    right: 0%;
}
  